<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Test Case</title>
	<link rel="stylesheet" type="text/css" href="../common/style.css" />
	<script>
	//function() {
	/*function()
	{
	}
	*/
	function x() { var y = /{x/; };
	function x() { return 1/2; }
	1/13432;

	window.onload = function() {
		let strA = 'function() { XXXX;}';
		let strB = {trick:'""\'' + '{{' + "'\"'" + 'function(a)'}.trick;
		var pass = strA.length === strB.length;
		document.getElementsByClassName("test-result")[0].classList.add(
			pass ? "test-result-ok" : "test-result-ko");
	}
	/**/
	</script>
	<script>        //</script>
	<script>//
	//
	1==1;
	//</script>
</head>

<body>
	<div class="test-result"></div>
</body>

</html>
