/* Test result classes, for easy assignment from JS */
html, body, .test-result {
    width: 100%;
    height: 100%;
    margin: 0;
}

.test-result {
    font-size: calc(10px + 6vmin);
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: olive;
    color: white;
}

.test-result:before {
    content: 'Checking...';
}

.test-result-ok {
    background-color: green;
}

.test-result-ok:before {
    content: 'Test OK';
}

.test-result-ko {
    background-color: red;
}

.test-result-ko:before {
    content: 'Test KO';
}

.test-result-not-detected {
    background-color: green;
}

.test-result-not-detected:before {
    content: 'Adblocker Not Detected';
}

.test-result-detected {
    background-color: red;
}

.test-result-detected:before {
    content: 'Adblocker Detected';
}

/* Something to simulate an annoying ad */
.annoying:before
{
    content: 'BUY MORE STUFF!!!'
}

.annoying {
    background-color: red;
    color: blue;
    animation: blinker 1s linear infinite;
    height: 30px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    font-size:20px;
}

@keyframes blinker {
    50% {
        background-color: blue;
        color: red;
        width: 250px;
    }
}

.floater
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
